<p id="notice"><%= notice %></p>

<legend><%= @user.username %></legend>
<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Rights:</b>
  <%= @user.rights %>
</p>


<%= link_to 'Edit', edit_user_path(@user), :class=>"btn btn-primary" %>
<%= link_to 'Back', users_path, :class => "btn" %>
